<div class="container">
  <div class="row">
    <form (ngSubmit)="onSubmitForm()" [formGroup]="newItemForm">
      <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" formControlName="title" id="title" type="text">
        <small *ngIf="checkForControlErrors('title')"
               class="form-text text-danger">
          Please enter the Title
        </small>
      </div>
      <div class="form-group">
        <label for="sub-title">Subtitle</label>
        <input class="form-control" formControlName="subTitle" id="sub-title" type="text">
        <small *ngIf="checkForControlErrors('subTitle')"
               class="form-text text-danger">
          Please enter the Subtitle
        </small>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input class="form-control" formControlName="price" id="price" type="number">
        <small *ngIf="checkForControlErrors('price')"
               class="form-text text-danger">
          Please enter a valid price
        </small>
      </div>
      <div class="form-group">
        <label for="imageSrc">Image Path</label>
        <input class="form-control" formControlName="imageSrc" id="imageSrc" type="text">
        <small *ngIf="checkForControlErrors('imageSrc')"
               class="form-text text-danger">
          Please enter an Image Path
        </small>
        <img [src]="newItemForm.get('imageSrc').value" alt="" class="img-fluid">
      </div>
      <div class="form-group">
        <label for="offeredBy">Offered By</label>
        <input class="form-control" formControlName="offeredBy" id="offeredBy" type="text">
        <small *ngIf="checkForControlErrors('offeredBy')"
               class="form-text text-danger">
          Please enter your brand name
        </small>
      </div>
      <div class="form-group">
        <label for="offeredBy">Description</label>
        <textarea class="form-control" cols="30" formControlName="description" id="Description"
                  placeholder="Min Length 10 Characters"
                  rows="10"></textarea>
        <small *ngIf="checkForControlErrors('description')"
               class="form-text text-danger">
          Please enter valid description
        </small>
      </div>
      <button (click)="onClear()" class="btn btn-danger" type="button">Clear</button>
      <button [disabled]="newItemForm.invalid" class="btn btn-success" type="submit">Submit</button>
    </form>
  </div>
</div>
<br><br>

